.item-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}
.item-container > div {
    width: 16%;
    margin: 0 2.5%;
    max-width: 120px;
    text-align: center;
}
.top > img {
    width: 70%;
}
.bottom {
    font-size: 12px;
    font-weight: 500;
}